@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

section {
    min-height: 50vh;
}

#bio-pic {
    width: 150px;
    border-radius: 15%;
    border-width: 3px;
    border-color: aquamarine;
    border-style: ridge;
}

#logo {
    width: 50px;
    border-radius: 50%;
}

.img-contacto {
    width: 40px;
}

footer {
    text-align: center;
}

/* Cosas que pueden salir mal:
- poner las clases en li para modificar tamaño de imagen en "Contacto"
- poner span text-align para el footer
- guardar solo el HTML y no el CSS
 */